<div class = "login">
<h2>Sign up</h2>
</br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %></br>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %></br>
    <%= f.label :mobile_no %>
    <%= f.text_field :mobile_no, class: "form-control" %></br>
    <%= f.label :emp_id %>
    <%= f.text_field :emp_id, class: "form-control" %></br>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></br>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></br>

  <div class="actions">
    </br>
    <%= f.submit "Sign up", class: "btn btn-primary" %>
    <%= f.submit "Reset", class: "btn btn-default" %>
  </div>
<% end %>
</br>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
