<p id="notice"><%= notice %></p>
<div class="container">

<h2>Listing Shift Details</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Shift name</th>
        <th>Description</th>
        <th>User Name</th>
        <th>User id</th>
      </tr>
    </thead>
    <tbody>
      <% @shift_details.each do |shift_detail| %>
        <tr>
          <td><%= shift_detail.start_time %></td>
          <td><%= shift_detail.end_time %></td>
          <td><%= shift_detail.shift_name %></td>
          <td><%= shift_detail.description %></td>
          <td><%= shift_detail.user.try(:name) %></td>
          <td><%= shift_detail.user.try(:id) %></td>
          <td><%= link_to 'Show', shift_detail %></td>
          <td><%= link_to 'Edit', edit_shift_detail_path(shift_detail) %></td>
          <td><%= link_to 'Destroy', shift_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Shift detail', new_shift_detail_path %>
<%= link_to 'Back', root_path %>
</body>
</html>
