<div class="col-md-6 col-md-offset-3"
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shift_detail.user.try(:name) %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @shift_detail.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @shift_detail.end_time %>
</p>

<p>
  <strong>Shift name:</strong>
  <%= @shift_detail.shift_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shift_detail.description %>
</p>


<%= link_to 'Edit', edit_shift_detail_path(@shift_detail), class: "btn btn-link" %> |
<%= link_to 'Back', shift_details_path, class: "btn btn-link" %>
</div>
